<div class="d-flex col mx-3 py-3"  id="plat-{{ plat.id }}" style="width : 20em;">
	<div class="card mx-5" style="width: 20rem;">
		<img class="card-img-top" src="uploads\plats\{{ plat.imgplat }}" alt="{{ plat.nomplat}}">
		<div class="card-body" >
			<h5 class="card-title">{{plat.nomplat}}</h5>
			<p class="card-text">{{plat.descriptionplat}}</p>
			<p class="card-text text-primary fst-italic">{{plat.prixplat}}€</p>
			
			{% if is_granted('ROLE_ADMIN') %}
			<div class="d-flex justify-content-around">
				<a type="button" class="btn btn-warning  p-2" href="{{ path('plats_update', {'id': plat.id }) }}">Modifier</a>
				<a type="button" class="btn btn-danger  p-2" href="{{ path('plats_delete', {'id': plat.id }) }}">Supprimer</a>
			</div>
			{% endif %}


			</p>
		</div>
	</div>
</div>
