

{% block body %}

    <div class="py-5 my-5 d-flex justify-content-center">
    <form action="{{ path('login') }}" method="post">

    <div class="form-group">
        <label class="form-label" for="username">Votre Email:</label>
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username|default('') }}"/>
    </div>
    <div>
        <label class="form-label" for="password">Password:</label>
        <input class="form-control" type="password" id="password" name="_password"/>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <input class="form-control" type="hidden" name="_target_path" value="{{ path('plats_liste') }}"/>
    </div>
        <button class="btn btn-success w-100 my-5" type="submit">se connecter</button>
    
    <p> Vous n'avez pas de compte : <a href =" {{path('app_register') }}" >Enregistrez-vous </a></p>
    </div>

    </form>

{% endblock %}